<%@ Master Language="C#" MasterPageFile="~/main.Master" AutoEventWireup="true" CodeBehind="sub.master.cs" Inherits="Motor_Yard.sub" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">

    <asp:ContentPlaceHolder ID="subhead" runat="server">
    </asp:ContentPlaceHolder>

    

    <style type="text/css">
        .auto-style2 {
            width: 221px;
        }
        .auto-style3 {
            width: 200px;
            height: 50px;
        }

        .scrollit {
    overflow:scroll;
    height:400px;
    width:180px
}
    </style>

    

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <table style="width:1000px">
        <tr>
            
            <td style="width:800px;"><asp:ContentPlaceHolder ID="sub_place" runat="server">
                    </asp:ContentPlaceHolder></td>
            </tr>
        
    </table>
    

        



                
</asp:Content>